/*.o
/*.a

/DosMain
/analysis_example
/bandgnu13
/bin2txt
/cube2xsf
/esp
/intensity_map
/jx
/md2axsf
/openmxgmo
/polB

/Benzene.cif
/Benzene.dden.cube
/Benzene.ene
/Benzene.md
/Benzene.md2
/Benzene.out
/Benzene.tden.cube
/Benzene.v0.cube
/Benzene.vhart.cube
/Benzene.xyz
/Benzene_rst/
/C60.bulk.xyz
/C60.cif
/C60.dden.cube
/C60.ene
/C60.md
/C60.md2
/C60.out
/C60.tden.cube
/C60.v0.cube
/C60.vhart.cube
/C60.xyz
/C60_rst/
/CO.cif
/CO.dden.cube
/CO.ene
/CO.md
/CO.md2
/CO.oopt
/CO.out
/CO.tden.cube
/CO.v0.cube
/CO.vhart.cube
/CO.xyz
/CO_rst/
/Cr2.cif
/Cr2.dden.cube
/Cr2.den0.cube
/Cr2.den1.cube
/Cr2.ene
/Cr2.md
/Cr2.md2
/Cr2.nc.xsf
/Cr2.nco.xsf
/Cr2.ncsden.xsf
/Cr2.out
/Cr2.sden.cube
/Cr2.tden.cube
/Cr2.v0.cube
/Cr2.vhart.cube
/Cr2.xyz
/Cr2_rst/
/Crys-MnO.bulk.xyz
/Crys-MnO.cif
/Crys-MnO.dden.cube
/Crys-MnO.den0.cube
/Crys-MnO.den1.cube
/Crys-MnO.ene
/Crys-MnO.md
/Crys-MnO.md2
/Crys-MnO.out
/Crys-MnO.sden.cube
/Crys-MnO.tden.cube
/Crys-MnO.v0.cube
/Crys-MnO.v1.cube
/Crys-MnO.vhart.cube
/Crys-MnO.xyz
/Crys-MnO_rst/
/GaAs.bulk.xyz
/GaAs.cif
/GaAs.dden.cube
/GaAs.den0.cube
/GaAs.den1.cube
/GaAs.ene
/GaAs.md
/GaAs.md2
/GaAs.nc.xsf
/GaAs.nco.xsf
/GaAs.ncsden.xsf
/GaAs.out
/GaAs.sden.cube
/GaAs.tden.cube
/GaAs.v0.cube
/GaAs.vhart.cube
/GaAs.xyz
/GaAs_rst/
/Glycine.cif
/Glycine.dden.cube
/Glycine.ene
/Glycine.md
/Glycine.md2
/Glycine.out
/Glycine.tden.cube
/Glycine.v0.cube
/Glycine.vhart.cube
/Glycine.xyz
/Glycine_rst/
/Graphite4.bulk.xyz
/Graphite4.cif
/Graphite4.dden.cube
/Graphite4.ene
/Graphite4.md
/Graphite4.md2
/Graphite4.out
/Graphite4.tden.cube
/Graphite4.v0.cube
/Graphite4.vhart.cube
/Graphite4.xyz
/Graphite4_rst/
/H2O-EF.cif
/H2O-EF.dden.cube
/H2O-EF.ene
/H2O-EF.md
/H2O-EF.md2
/H2O-EF.out
/H2O-EF.tden.cube
/H2O-EF.v0.cube
/H2O-EF.vhart.cube
/H2O-EF.xyz
/H2O-EF_rst/
/H2O.cif
/H2O.dden.cube
/H2O.ene
/H2O.md
/H2O.md2
/H2O.out
/H2O.tden.cube
/H2O.v0.cube
/H2O.vhart.cube
/H2O.xyz
/H2O_rst/
/HMn.cif
/HMn.dden.cube
/HMn.den0.cube
/HMn.den1.cube
/HMn.ene
/HMn.md
/HMn.md2
/HMn.out
/HMn.sden.cube
/HMn.tden.cube
/HMn.v0.cube
/HMn.v1.cube
/HMn.vhart.cube
/HMn.xyz
/HMn_rst/
/Methane.cif
/Methane.dat#
/Methane.dden.cube
/Methane.ene
/Methane.md
/Methane.md2
/Methane.out
/Methane.tden.cube
/Methane.v0.cube
/Methane.vhart.cube
/Methane.xyz
/Methane_rst/
/Mol_MnO.cif
/Mol_MnO.dden.cube
/Mol_MnO.den0.cube
/Mol_MnO.den1.cube
/Mol_MnO.ene
/Mol_MnO.md
/Mol_MnO.md2
/Mol_MnO.out
/Mol_MnO.sden.cube
/Mol_MnO.tden.cube
/Mol_MnO.v0.cube
/Mol_MnO.v1.cube
/Mol_MnO.vhart.cube
/Mol_MnO.xyz
/Mol_MnO_rst/
/Ndia2.bulk.xyz
/Ndia2.cif
/Ndia2.dden.cube
/Ndia2.ene
/Ndia2.md
/Ndia2.md2
/Ndia2.out
/Ndia2.tden.cube
/Ndia2.v0.cube
/Ndia2.vhart.cube
/Ndia2.xyz
/Ndia2_rst/
/met.cif
/met.dden.cube
/met.ene
/met.md
/met.md2
/met.out
/met.std
/met.tden.cube
/met.v0.cube
/met.vhart.cube
/met.xyz
/met_rst/
/runtest.result

/5_5_13COb2.bulk.xyz
/5_5_13COb2.cif
/5_5_13COb2.ene
/5_5_13COb2.md
/5_5_13COb2.md2
/5_5_13COb2.out
/5_5_13COb2.xyz
/5_5_13COb2_rst/
/B2C62_Band.bulk.xyz
/B2C62_Band.cif
/B2C62_Band.ene
/B2C62_Band.md
/B2C62_Band.md2
/B2C62_Band.out
/B2C62_Band.xyz
/B2C62_Band_rst/
/CG15c-Kry.bulk.xyz
/CG15c-Kry.cif
/CG15c-Kry.ene
/CG15c-Kry.md
/CG15c-Kry.md2
/CG15c-Kry.out
/CG15c-Kry.xyz
/CG15c-Kry_rst/
/DIA512-1.bulk.xyz
/DIA512-1.cif
/DIA512-1.ene
/DIA512-1.md
/DIA512-1.md2
/DIA512-1.out
/DIA512-1.xyz
/DIA512-1_rst/
/FeBCC.bulk.xyz
/FeBCC.cif
/FeBCC.ene
/FeBCC.md
/FeBCC.md2
/FeBCC.out
/FeBCC.xyz
/FeBCC_rst/
/GEL.bulk.xyz
/GEL.cif
/GEL.ene
/GEL.md
/GEL.md2
/GEL.out
/GEL.xyz
/GEL_rst/
/GFRAG.cif
/GFRAG.ene
/GFRAG.md
/GFRAG.md2
/GFRAG.out
/GFRAG.xyz
/GFRAG_rst/
/GGFF.bulk.xyz
/GGFF.cif
/GGFF.ene
/GGFF.md
/GGFF.md2
/GGFF.out
/GGFF.xyz
/GGFF_rst/
/MCCN.bulk.xyz
/MCCN.cif
/MCCN.ene
/MCCN.md
/MCCN.md2
/MCCN.out
/MCCN.xyz
/MCCN_rst/
/Mn12_148_F.bulk.xyz
/Mn12_148_F.cif
/Mn12_148_F.ene
/Mn12_148_F.md
/Mn12_148_F.md2
/Mn12_148_F.out
/Mn12_148_F.xyz
/Mn12_148_F_rst/
/N1C999.bulk.xyz
/N1C999.cif
/N1C999.ene
/N1C999.md
/N1C999.md2
/N1C999.out
/N1C999.xyz
/N1C999_rst/
/Ni63-O64.bulk.xyz
/Ni63-O64.cif
/Ni63-O64.ene
/Ni63-O64.md
/Ni63-O64.md2
/Ni63-O64.out
/Ni63-O64.xyz
/Ni63-O64_rst/
/Pt63.cif
/Pt63.ene
/Pt63.md
/Pt63.md2
/Pt63.out
/Pt63.xyz
/Pt63_rst/
/SialicAcid.cif
/SialicAcid.dden.cube
/SialicAcid.ene
/SialicAcid.md
/SialicAcid.md2
/SialicAcid.out
/SialicAcid.tden.cube
/SialicAcid.v0.cube
/SialicAcid.vhart.cube
/SialicAcid.xyz
/SialicAcid_rst/
/ZrB2_2x2.bulk.xyz
/ZrB2_2x2.cif
/ZrB2_2x2.ene
/ZrB2_2x2.md
/ZrB2_2x2.md2
/ZrB2_2x2.out
/ZrB2_2x2.xyz
/ZrB2_2x2_rst/
/nsV4Bz5.cif
/nsV4Bz5.ene
/nsV4Bz5.md
/nsV4Bz5.md2
/nsV4Bz5.out
/nsV4Bz5.xyz
/nsV4Bz5_rst/
/runtestL.result
